[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  VITE_SOCKET_URL = "https://girgit.fly.dev"
  VITE_SERVER_URL = "https://girgit.fly.dev"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
